<!-- Top content -->
<div class="top-content">
  <div class="top-content-text">
    <div class="thumbnail"><span></span>
      <h1><a href="">This is Manage</a></h1>
      <p>A new one</p>
    <div class="top-content-bottom-link">
      <a class="btn btn-primary" href="/users/sign_in">Login in!</a>
    </div>
    </div>
  </div>
</div>

<!-- What we do -->
<div class="what-we-do-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 what-we-do section-description wow fadeIn">
        <h2>What we do</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="img-circle"></div>
        <h3>愛心</h3>
        <p> lol.</p>
      </div>
      <div class="col-sm-4">
        <div class="img-circle"></div>
        <h3>服務</h3>
        <p>Lorem .</p>
      </div>
      <div class="col-sm-4">
        <div class="img-circle"></div>
        <h3>責任</h3>
        <p>Lorem .</p>
      </div>
    </div>
  </div>
</div>

<footer>
    <div class="container">
      <p>&copy; Rails PM 2015</p>
    </div>
</footer>