<!--
  <div class="hero-filter">
  <div class="container">
    <h1>Are you ready to start using the world's favorite project management app?</h1>
    <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
  </div>
</div>

<div class="home-block home-block-light">
  <div class="container">
    <h3>The Best Features</h3>

    <p>Developed by seasoned project managers, Rails Project Management is a project manager's dream come true. </p>
  </div>
</div>

<div class="home-block home-block-dark">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h3>Triple Threat Effectiveness</h3>
      </div>
      <div class="col-md-4">
        <h4>Plan</h4>
        <p>Every good project has a good plan behind it. We make it easy to plan your projects and keep an eye on all the important info.  </p>
      </div>
      <div class="col-md-4">
        <h4>Execute</h4>
        <p>Once your plan is together - execute! Editing tasks is a breeze. </p>
      </div>
      <div class="col-md-4">
        <h4>Collaborate</h4>
        <p>We don't work in silos. Invite other users to collaborate on your projects - with tasks, comments and more!  </p>
      </div>
    </div>

  </div>
</div>

<div class=" home-block home-block-light">
  <div class="container">
    <h3>What are you waiting for?</h3>
  </div>
</div>

<footer>
  <div class="container">
    <p>&copy; Rails PM</p>
  </div>
</footer>
-->


<!-- Top content -->
<div class="top-content">
  <div class="top-content-text">
    <div class="thumbnail"><span></span>
      <h1><a href="">This is Manage</a></h1>
      <p>A new one</p>
    <div class="top-content-bottom-link">
      <a class="btn btn-primary" href="/users/sign_in">Login in!</a>
    </div>
    </div>
  </div>
</div>

<!-- What we do -->
<div class="what-we-do-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 what-we-do section-description wow fadeIn">
        <h2>What we do</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="img-circle"><i class="fa fa-pencil"></i></div>
        <h3>Web design</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
      <div class="col-sm-4">
        <div class="img-circle"><i class="fa fa-gears"></i></div>
        <h3>Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
      <div class="col-sm-4">
        <div class="img-circle"><i class="fa fa-twitter"></i></div>
        <h3>Social media</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        &copy; by <a href="#">:P</a>
      </div>
      <div class="col-sm-5">

      </div>
    </div>
  </div>
</footer>